body{
    background-color: #f3f4f6;
    height: 100vh;
}
#home-hero{
    height: 50vh;
    background-color: #06c9fa;
}
#liked-title{
    font-family: Archivo;
}
#intro-title{
    font-family: Archivo;
}

